.App {
  background-color: #B1CBCD;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
}

.left {
  background-color: #B1CBCD;
  max-height: 100vh;
  max-width: 50vh;
  flex-basis: 100%;
}

.rechazarL{
  color: rgb(0, 0, 0);
  font-family: 'Gotham Rounded';
  font-size: 36px;
}

.middle {
  max-height: 100vh;
  max-width: 40vh;
  background-color: #B1CBCD;
}

.perrosL{
  color: rgb(0, 0, 0);
  font-family: 'Gotham Rounded';
  font-size: 36px;
}

.right {
  background-color: #B1CBCD;
  max-height: 100vh;
  max-width: 40vh;
}

.aceptarL{
  color: rgb(0, 0, 0);
  font-family: 'Gotham Rounded ';
  font-size: 36px;
}

.perron{
  width: 250px;
  height: 250px;
  padding-top: 10px;
}

figcaption{
  text-align: center;
  font-size: 1.2em;
  margin-top: 0px;
}

.button{  
  padding: 10px 20px;
  width:  70px;
  height: 70px;
  color: white;
  background-color: #E8A8A8;
}

.button2{
  padding: 10px 20px;
  margin-right: 5px ;
  width:  70px;
  height: 70px;
  color: white;
  background-color: #85D88C;
}

.buttonL{
  color: white;
  padding: 10px 20px;
  background-color: #85D88C;
}

.buttonR{
  color: white;
  padding: 10px 20px;
  background-color: #E8A8A8;
}

.descripcion{
  font-size: 12px;
}

.descripcion1{
  font-size: 12px;
}

.descripcion2{
  font-size: 12px;
}

@media (max-width: 768px) {
  .left{
    flex-basis: 50%;
  }

  .middle{
    flex-basis: 50%;
  }

  .right{
    flex-basis: 50%;
  }
}
.box{
 background-color: #B1CBCD;
}
.grid{
  background-color: #A3C0B3;
}
.card{
  background-color: #A3C0B3;
}
.cc{
  background-color: #A3C0B3;
}

.lista1{
  background-color: #B1CBCD;
}

.lista2{
  background-color: #B1CBCD;
}
.List{
  background-color: #B1CBCD;
}
.List2{
  background-color: #B1CBCD;
}
.expandicon{
  background-color: #A3C0B3;
}
.ca{
  background-color: #A3C0B3;
}